<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Profile Update | GLUG </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

</head>

<body>

    <div class="container" style="margin-top: 20px;">
        <h2>Select the ones that need to be converted</h2>
        <p>These are the ones whose passout_year is the current or lower year</p>
        <form id="checkboxes" class="checkboxes" method="POST">
            {% csrf_token %}
            {% for profile in profiles %}
            <div class="form-group">
                <input type="checkbox" class="check" id="{{ forloop.counter0 }}" data-value="{{ profile.id }}">
                <label for="{{ forloop.counter0 }}"> {{profile.first_name}} {{profile.last_name}} </label>
            </div>
            <br>
            {% endfor %}
            <input type="submit" id="btn_submit" class="btn btn-success">
        </form>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
    $(document).ready( function(){
        let ids = new Set()
        $(".check").click( function(){
            idx = $(this).attr('data-value')
            if(ids.has(idx)){
                ids.delete(idx)
            }
            else{
                ids.add(idx)
            }
        })
        $("#btn_submit").click(function (e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "main:convert2alumni" %}',
                data: {
                    json_sent: JSON.stringify(Array.from(ids)),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post',
                },
                success: function(data){
                    alert("SUCC");
                    window.location = '{% url "main:convert2alumni" %}';
                },
                error: function(data){
                    alert("An error occurred");
                },
            });
            return false;
        });
    })
    
</script>

</html>