### Python ###
# Byte-compiled files
__pycache__/
*.py[cod]

.vscode/
settings.json


__pycache__/
local_settings.py

.env
.db.env
db.sqlite3
db.sqlite3-*
main/media/*
media/*


##
db.json
##
static/*
##
dump.json
##
main/migrations/*
##
blog/migrations/*
##
mailer/migrations/*
Pipfile
Pipfile.lock