<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mailer | An E-mail client</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
       .compose {
            display: inline;
            font-size: 2em;
            font-weight: 400;
       }
       .history {
           margin-top: 4em;
           padding-top: 1em;
           padding-bottom: 1em;
       }
       .log {
           padding-left: 0.7em;
           padding-top: 0.1em;
           padding-bottom: 0.002em;
       }
    </style>
</head>

<body>
    <div class="container">
        <h2>Mailer</h2>
        <div class="container-fluid">
            <a class="btn-floating btn-large waves-effect waves-light orange" href = "{{ '/mail/send/' }}" ><i class="material-icons">add</i></a>
            <p class="compose">Compose new</p>
        </div>
        <div class="container-fluid history">
            <h4>History</h4>
            {% if history %}
            <ul class="alert alert-info messages">
                {% for h in history %}
                <li class="">
                    <div class="conatiner-fluid z-depth-1 card-panel log grey lighten-5">
                    <h6 >{{ h.to }}</h6>
                    <p> 
                        <strong>[{{ h.subject }}]</strong>
                        {{ h.body | truncatechars:80 }}
                        <small> -- sent at {{ h.time }}</small>
                    </p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>